@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    position: relative;
}

.app h2 {
    text-align: center;
}


/* HOME */

.home {
    background-color: rgb(36, 74, 92);
}

.banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(174, 174, 240);
    clip-path: circle(200px at center center);
}

.banner video {
    position: relative;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    position: relative;
    // margin-top: 200vh;
    margin-left: .95rem;
    padding: 100px;
    background-image: url("../images/bubble2.jpg");
    opacity: 0.5;
    h2 {
        font-size: 2.5em;
        margin-bottom: 20px;
        color: #fff;
    }
    p {
        font-size: 1em;
        color: #fff;
    }
}


/* BUTTONS */

.btns {
    margin-right: 0.3em;
    padding: 0.5rem;
    color: #393b44;
    border: 1px solid #393b44;
    border-radius: 0.2rem;
}

.btns:hover {
    box-shadow: 1px 3px 9px 2px rgba(0, 0, 0, 0.25);
}

.add {
    background-color: #d6e0f0;
}


/* .view {
    background-color: #d6e0f0;
    background-color: #8d93ab;
} */

.remove {
    background-color: #e7c9ab;
    margin-top: 1rem;
}

.proceed {
    background-color: #c6e4c6;
    margin-top: 1rem;
}

.bold {
    font-weight: bold;
}


/* NOT FOUND */

.not-found {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}