.cart {
    min-height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.cart h2 {
    margin: 2rem 0 1rem 0;
}

.cart-details {
    display: flex;
    margin: 2rem 0;
}

.cart-item {
    width: 38rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
}

.cart-item h3 {
    margin-bottom: 1rem;
}

p {
    padding: 0.5rem 0;
}

.cart-actions {
    width: 8rem;
    display: flex;
    flex-direction: column;
}

.qty {
    width: 3rem;
    margin-left: 0.5rem;
}

.cart-summary {
    margin-left: 1rem;
}

.cart-summary  h4 {
    margin-bottom: 1rem;
    font-weight: bold;
}
