    footer {
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 0.03em;
        font-weight: bolder;
        color: #f1f3f8;
        border: rgb(14, 27, 36) 14px solid;
        .footer-container {
            width: 100vw;
            height: 18rem;
        }
        .video-footer {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .footer-text {
            position: relative;
            padding: 2rem;
            top: -13rem;
            font-size: large;
            color: black;
            p {
                margin-top: 3rem;
            }
        }
    }