/* generic styles for button & circular menu */

nav {
    height: 25rem;
    margin-top: 1.1rem;
    background-image: url("../images/bubble1.jpg");
    background-size: cover;
    color: #c9c9c9;
    text-align: center;
    border: rgb(14, 27, 36) 14px solid;
    .menu-nav {
        font-size: 1.2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 2.3rem;
    }
}

a {
    color: rgb(16, 56, 56);
}