.product {
    max-width: 80vw;
    display: flex;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #f3f4f7;
    box-shadow: 1px 3px 9px 2px rgba(0,0,0,0.25);
}

.products h2 {
    padding-top: 2rem;
}

.product-info {
    width: 30rem;
}

.product-btns {
    align-self: end;
    margin-left: auto;
}

.product-img {
    min-width: 150px;
    height: 180px;
    margin: 0 1rem 1rem 1rem;
    object-fit: contain;
}

/* .product-img img {
    width: 100%;
} */

.product h3 {
    padding-bottom: 1.5rem;
}

.price {
    margin-top: 1rem;
}

/* single product */
.single-cart-product-container {
    height: 75vh;
}

.single-cart-product-container h2 {
    margin-top: 3rem;
}

.single-cart-product {
    width: 58rem;
    margin: 3rem auto;
}

.single-cart-product img {
    margin: 1rem;
    margin-top: 0;
}

.single-cart-product .price {
    margin-top: 0rem;
}

.add-cart {
    margin-top: 0.9rem;
} 
